@font-face {
  font-family: "SegoeUI";
  font-display: swap;
  src: url("../fonts/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SegoeUI";
  font-display: swap;
  src: url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SegoeUI";
  font-display: swap;
  src: url("../fonts/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  font-family: "Inter", sans-serif;
  color: #222222;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
}

header {
  -webkit-box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.04);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0;
}

nav .left_nav,
nav .right_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav .logo {
  margin-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav .logo img {
  display: inline-block;
  margin-right: 7px;
}

nav .logo h2 {
  font-size: 24px;
}

nav .logo h2 span {
  font-size: inherit;
  color: #660091;
  font-weight: bold;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

nav .menu li {
  margin-right: 25px;
}

nav .menu li a {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  color: #222222;
}

nav .left_side,
nav .login,
nav .cabinet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav .login img {
  display: inline-block;
  margin-right: 10px;
}

nav .start {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 15px 22px;
  background: #4E8EFD;
  border-radius: 5px;
  display: inline-block;
  margin-left: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #4E8EFD;
}

nav .start:hover {
  border: 1px solid #4E8EFD;
  background-color: #fff;
  color: #4E8EFD;
}

.main_sec {
  padding: 80px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #F4F8FB;
}

.main_sec h1 {
  font-weight: bold;
  font-size: 80px;
  text-align: center;
}

.main_sec h1 span {
  font-size: inherit;
  color: #FF8802;
}

.main_sec p {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  max-width: 760px;
  padding: 15px 15px 40px;
  margin: 0 auto;
}

.main_sec .search-bar {
  width: 730px;
  position: relative;
  margin: 0 auto;
}

.main_sec .search-bar img {
  position: absolute;
  top: 21px;
  left: 23px;
}

.main_sec .search-bar input {
  font-size: 16px;
  padding: 26px 60px;
  width: 100%;
  border: 0.5px solid #CDCDCD;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}

.main_sec .search-bar input::-webkit-input-placeholder {
  color: #8C8B8B;
}

.main_sec .search-bar input::-moz-placeholder {
  color: #8C8B8B;
}

.main_sec .search-bar input:-ms-input-placeholder {
  color: #8C8B8B;
}

.main_sec .search-bar input::-ms-input-placeholder {
  color: #8C8B8B;
}

.main_sec .search-bar input::placeholder {
  color: #8C8B8B;
}

.main_sec .pros {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.main_sec .pros__item span {
  font-size: 14px;
}

.main_sec .pros__item .number {
  font-weight: bold;
  font-size: inherit;
}

.pricing_sec {
  padding: 100px 0 130px;
}

.pricing_sec h3 {
  text-align: center;
  font-size: 20px;
}

.pricing_sec .slider_companies {
  margin-top: 50px;
}

.pricing_sec .slider_companies .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.pricing_sec .slider_companies .item img {
  max-width: 100%;
}

.pricing_sec hr {
  background-color: #CBCBCB;
  margin-top: 70px;
  display: block;
  max-width: 1110px;
  height: 1px;
  margin: 70px auto 120px;
}

.pricing_sec .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}

.pricing_sec .option p {
  font-size: 16px;
}

.pricing_sec .option .switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 26px;
  margin: 0 20px;
  /* Rounded sliders */
}

.pricing_sec .option .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.pricing_sec .option .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.pricing_sec .option .switch .slider::before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: #660091;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.pricing_sec .option .switch input:checked + .slider {
  background-color: #F7E3FF;
}

.pricing_sec .option .switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #F7E3FF;
  box-shadow: 0 0 1px #F7E3FF;
}

.pricing_sec .option .switch input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

.pricing_sec .option .switch .slider.round {
  border-radius: 34px;
}

.pricing_sec .option .switch .slider.round:before {
  border-radius: 50%;
}

.pricing_sec .option .save_div {
  position: absolute;
  right: 35%;
  top: -40px;
  -webkit-transform: translate(60%, 0);
  -ms-transform: translate(60%, 0);
  transform: translate(60%, 0);
}

.pricing_sec .option .save_div a {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 4px 10px;
  background: #660091;
  border-radius: 48px;
}

.pricing_sec .option .save_div img {
  position: relative;
  top: 10px;
  display: inline-block;
}

.pricing_sec .option .save_div .reverse_line {
  -webkit-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  transform: rotate(-270deg);
  display: none;
}

.pricing_sec .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 100px;
}

.pricing_sec .cards .card {
  margin: 0 20px;
  height: 370px;
  width: 255px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px 30px 35px;
  position: relative;
}

.pricing_sec .cards .card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  border-color: #660091;
}

.pricing_sec .cards .card .most {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 14px;
  color: #660091;
  text-transform: uppercase;
  padding: 7px 10px;
  background: #F7E3FF;
  border-radius: 48px;
  position: absolute;
  left: 60px;
  top: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pricing_sec .cards .card h4 {
  font-weight: bold;
  font-size: 20px;
}

.pricing_sec .cards .card h3 {
  margin: 30px 0 10px;
  font-weight: bold;
  font-size: 50px;
}

.pricing_sec .cards .card p {
  font-size: 14px;
  color: #9D9D9D;
}

.pricing_sec .cards .card ul {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-top: 30px;
}

.pricing_sec .cards .card ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  margin-top: 15px;
}

.pricing_sec .cards .card ul li img {
  margin-right: 10px;
}

.pricing_sec .cards_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.pricing_sec .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #EFEDFA;
  border-radius: 10px;
  padding: 80px 70px 60px;
  position: relative;
  margin: 90px 0 60px;
}

.pricing_sec .description .column h3 {
  text-align: left;
  max-width: 210px;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
}

.pricing_sec .description .column h3 span.cat {
  font-size: inherit;
  color: #6256AA;
}

.pricing_sec .description .column h3 span.prod {
  font-size: inherit;
  color: #1D60FF;
}

.pricing_sec .description .column h3 span.rev {
  font-size: inherit;
  color: #FF8802;
}

.pricing_sec .description .column p {
  padding: 20px 0 50px;
  font-size: 16px;
  line-height: 25px;
  max-width: 280px;
}

.pricing_sec .description .column ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 300px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pricing_sec .description .column ul li {
  margin-right: 10px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #660091;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 16px rgba(102, 0, 145, 0.05);
  box-shadow: 0px 0px 16px rgba(102, 0, 145, 0.05);
  border-radius: 22.5px;
  padding: 10px 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.pricing_sec .description .column ul li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.pricing_sec .description .column ul.add_more::after {
  content: "and much more";
  display: block;
  margin-top: -10px;
  font-weight: 500;
  font-size: 14px;
  color: #ACACAC;
  cursor: pointer;
}

.pricing_sec .description .column > span {
  position: absolute;
}

.pricing_sec .repeat_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.repeat_btn {
  display: inline-block;
  font-weight: bold;
  font-size: 17px;
  color: #FFFFFF;
  padding: 16px 25px;
  background: #4E8EFD;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #4E8EFD;
}

.repeat_btn:hover {
  border: 1px solid #4E8EFD;
  background-color: #fff;
  color: #4E8EFD;
}

.cases_sec {
  background: url(../img/bg-cases.png) no-repeat center center/contain;
  background-color: #F4F8FB;
  padding: 120px 0 210px;
}

.cases_sec .container > h3 {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.cases_sec .container > p {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  max-width: 920px;
  margin: 0 auto;
  padding: 20px 0 60px;
}

.cases_sec ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cases_sec ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  color: #660091;
  padding: 10px 20px;
  background: #FFFFFF;
  border: 0.3px solid #660091;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 22.5px;
  margin: 0 7px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cases_sec ul li:hover {
  background-color: #660091;
  color: #fff;
  cursor: pointer;
}

.cases_sec ul li:hover svg {
  fill: #fff;
  stroke: #fff;
}

.cases_sec ul li svg {
  margin-right: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cases_sec .hero {
  margin-top: 150px;
}

.cases_sec .hero h4 {
  font-weight: bold;
  font-size: 36px;
  text-transform: capitalize;
}

.cases_sec .hero p {
  line-height: 28px;
  font-size: 18px;
  max-width: 445px;
  padding: 25px 0 40px;
}

.cases_sec .hero a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  color: #4E8EFD;
}

.cases_sec .hero a img {
  margin-left: 10px;
  margin-top: 2px;
}

.reviews_sec {
  padding: 160px 0;
}

.reviews_sec .item {
  max-width: 920px;
  margin: 0 auto;
}

.reviews_sec .review_text {
  font-size: 30px;
  line-height: 45px;
  padding-bottom: 40px;
  position: relative;
}

.reviews_sec .review_text::before {
  content: url(../img/quotes.png);
  display: block;
  position: absolute;
  top: -10px;
  left: -25px;
  z-index: -1;
}

.reviews_sec .review_text::after {
  content: url(../img/quotes.png);
  display: block;
  position: absolute;
  bottom: 30px;
  right: 190px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  z-index: -1;
}

.reviews_sec .person_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.reviews_sec .person_info img {
  display: inline-block;
  margin-right: 30px;
}

.reviews_sec .person_info h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 45px;
  color: #FF8802;
}

.reviews_sec .person_info p {
  font-size: 16px;
  line-height: 19px;
}

.reviews_sec .owl-prev {
  position: absolute;
  left: 0;
  top: 120px;
}

.reviews_sec .owl-prev:hover svg path {
  fill: #A097A4;
}

.reviews_sec .owl-prev svg path {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.reviews_sec .owl-next {
  position: absolute;
  right: 0;
  top: 120px;
}

.reviews_sec .owl-next:hover svg path {
  fill: #A097A4;
}

.reviews_sec .owl-next svg path {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer {
  padding: 60px 0;
  background: #F4F8FB;
}

footer .footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

footer .bottom_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .bottom_row p {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-right: 110px;
}

footer .bottom_row span {
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

footer .bottom_row .socials img {
  margin-right: 7px;
  display: inline-block;
}

footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .logo img {
  display: inline-block;
  margin-right: 7px;
}

footer .logo h2 {
  font-size: 24px;
}

footer .logo h2 span {
  font-size: inherit;
  color: #660091;
  font-weight: bold;
  display: inline-block;
}

footer .column_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

footer .column {
  margin-right: 70px;
}

footer .column p {
  font-size: 14px;
  line-height: 24px;
  max-width: 255px;
  padding: 15px 0 35px;
}

footer .column h5 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

footer .column span {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer .column span:hover {
  color: #660091;
  cursor: pointer;
}

footer hr {
  display: block;
  max-width: 100%;
  height: 1px;
  background-color: #EDEDED;
  margin: 30px 0 25px;
}

footer .column_middle {
  margin: 0 90px;
}

@media screen and (max-width: 1250px) {
  .pricing_sec .cards {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .pricing_sec .cards .card {
    margin: 20px;
  }
}

@media screen and (max-width: 1050px) {
  .pricing_sec .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .pricing_sec .description .column {
    margin: 20px 0;
  }

  .pricing_sec .description .column h3 {
    max-width: 100%;
  }

  .pricing_sec .description .column p {
    text-align: center;
    padding-bottom: 30px;
  }

  .pricing_sec .description .column ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .cases_sec {
    background-position: left bottom;
  }

  .cases_sec ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .cases_sec .hero {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 120px;
  }

  .cases_sec .hero p {
    margin: 0 auto;
  }

  .cases_sec .hero a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .reviews_sec .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .reviews_sec .review_text {
    text-align: center;
    font-size: 25px;
    line-height: 35px;
  }

  .reviews_sec .review_text::before {
    display: none;
  }

  .reviews_sec .review_text::after {
    display: none;
  }

  .reviews_sec .owl-prev {
    top: 300px;
    left: 300px;
  }

  .reviews_sec .owl-next {
    top: 300px;
    right: 300px;
  }

  footer .footer_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  footer .bottom_row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  footer .column {
    margin: 20px 30px;
    max-width: 300px;
  }
}

@media screen and (max-width: 840px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  nav .right_nav {
    margin-top: 30px;
  }

  nav .left_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  nav .logo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .main_sec h1 {
    font-size: 60px;
  }

  .pricing_sec .option .save_div {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  .reviews_sec .review_text {
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
  }

  footer .bottom_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer .bottom_row p {
    margin-right: 0;
    margin-bottom: 20px;
  }

  footer .bottom_row span {
    margin-right: 0;
    margin-bottom: 10px;
  }

  footer .bottom_row .socials img {
    margin: 0 10px;
  }
}

@media screen and (max-width: 760px) {
  .main_sec .search-bar {
    width: 100%;
  }

  .main_sec .search-bar input {
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .reviews_sec .owl-prev {
    display: none;
  }

  .reviews_sec .owl-next {
    display: none;
  }

  footer .column_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .pricing_sec .slider_companies .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  .main_sec h1 {
    font-size: 40px;
  }

  .main_sec .pros {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main_sec .pros__item {
    margin: 10px 0;
  }

  .cases_sec {
    background-image: none;
  }

  .cases_sec .hero {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 540px) {
  .pricing_sec .option .save_div {
    -webkit-transform: translate(10%, 0);
    -ms-transform: translate(10%, 0);
    transform: translate(10%, 0);
  }

  .pricing_sec .option .save_div img {
    display: none;
  }

  .pricing_sec .option .save_div .reverse_line {
    display: block;
    position: relative;
    top: -10px;
    right: -130px;
  }

  .pricing_sec .description {
    padding: 60px 30px;
  }

  .pricing_sec .description .column h3 {
    font-size: 30px;
    text-align: center;
  }

  .pricing_sec .description .column p {
    max-width: 100%;
  }

  .pricing_sec .description .column ul {
    margin: 0 auto;
  }

  .cases_sec .container > p {
    padding: 25px 10px 40px;
  }

  .cases_sec .hero p {
    padding: 25px 10px 40px;
  }
}